<?xml version="1.0"?>
<launch>
  <arg name="rosbag" />
  <arg name="compress" default="false" />

  <arg if="$(arg compress)" name="compress_flag" value="--bz2" />
  <arg unless="$(arg compress)" name="compress_flag" value="" />

  <node name="rosbag_record" pkg="rosbag" type="record"
    args="-q $(arg compress_flag) -O /home/shmpwk/Data/rosbags/$(arg rosbag) -b 0
        /rosout
        /tf
        /tf_static
        /edgetpu_object_detector/output/class
        /edgetpu_object_detector/output/image/compressed
        /edgetpu_object_detector/output/rects
        /kinect_head/depth_registered/camera_info
        /kinect_head/depth_registered/image_rect/compressedDepth
        /kinect_head/depth_registered/points
        /kinect_head/depth_registered/quater/points
        /kinect_head/depth_registered/quater/throttled/points
        /kinect_head/depth_registered/throttled/camera_info
        /kinect_head/depth_registered/throttled/image_rect/compressedDepth
        /kinect_head/depth_registered/throttled/points
        /kinect_head/rgb/camera_info
        /kinect_head/rgb/image_rect_color/compressed
        /kinect_head/rgb/image_rect_color/compressedDepth
        /left_endeffector/wrench
        /l_arm_controller/state
        /prosilica/camera_info
        /prosilica/image_rect
        /prosilica/image_rect/compressed
        /prosilica/image_rect/compressedDepth
        /right_endeffector/wrench
        /r_arm_controller/state
        "
      output="screen" />

</launch>
